<p>{{city.name}}'s Details</p>
<p>Country: {{city.country}}</p>

<hr>

<p>Rentals available in {{city.name}}:</p>
<ul>
  <li>{{#each city.rentals as |rental|}}{{rental.owner}}'s {{rental.type}} with {{rental.bedrooms}} rooms
    {{/each}}
  </li>
</ul>
